@use "styles/variables.scss" as vars;

.profile__sidebar {
  width: 100%;

  .menu {
    width: 100%;

    li {
      cursor: pointer;
      padding: 4px 8px;
      border-radius: 5px;
      font-weight: 300;
      color: vars.$gray_primary_text;
    }

    li.active {
      color: vars.$text_color;
      font-weight: 500;
      background-color: vars.$menu_item_active_bg;
    }
    li.active svg {
      fill: vars.$text_color;
      stroke: vars.$text_color;
    }
    li svg {
      fill: vars.$gray_primary_text;
      stroke: vars.$gray_primary_text;
    }
  }
}

.upload-image__wrapper {
  border-bottom: 1px solid vars.$gray_border;

  .upload-image-body {
    figure {
      margin: 0;
      width: 78px;
      height: 78px;
      border-radius: 100%;
      padding: 0;

      img {
        border: 2px solid vars.$gray_border;
        border-radius: 100%;
      }
    }
  }
}

.update-profile {
  width: 100%;

  .form-wrapper > div {
    width: 50%;
  }
}

.aside-title {
  width: 100%;
  border-bottom: 1px solid vars.$gray_border;
}
