@use "variables" as vars;

.text-dark {
  color: vars.$text_color;
}
.text-mute {
  color: vars.$gray_primary_text;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.font-ex-bold {
  font-weight: 900;
}

.font-light {
  font-weight: 300;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16p;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}

.text-dark {
  color: vars.$text_color;
}

.text-muted {
  color: vars.$gray_primary_text;
}
.text-gray {
  color: vars.$gray_text;
}

.text-warning {
  color: vars.$warning;
}

.line-height-md {
  line-height: 35px;
}
