$gray_border: #e4e4e4;
$bg_color: #f3f4f6;
$white_color: #fff;

$input_background_color: #fbfbfe;
$input_color: #8c949d;

$gray_primary_text: #767c8e;

$text_color: #3a3836;

$menu_item_active_bg: #f6f8fa