@use "styles/variables.scss" as vars;

.avatar {
  figure {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #b0e9fe;
  }

}


.text-dark{
    color: vars.$text_color;
}
.text-mute{
    color: vars.$gray_primary_text;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.font-ex-bold {
  font-weight: 900;
}

.font-light {
  font-weight: 300;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16p;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}
